---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CoursesCard from "../components/CoursesCard.astro";
---

<Layout title="Skilled" header>
  <Hero />
  
  <section class="content row">

    <div class="col-4">
      <CoursesCard 
        title="Main"
        main
        imgSrc=""
        imgAlt=""
      >
        <h2 class="courses-card__main--title h-m txt-left">Check out our most popular courses!</h2>
      </CoursesCard>
    </div>

    <div class="col-4">
      <CoursesCard 
        title="Animation" 
        main={false}
        imgSrc="/images/icons/icon-animation.svg"
        imgAlt="Animation"
      >
        <p class="courses-card__text p-m">Learn the latest animation techniques to create stunning motion design and captivate your audience.</p>
        <a href="#" class="courses-card__link">Get Started</a>
      </CoursesCard>
    </div>

    <div class="col-4">
      <CoursesCard 
        title="Design" 
        main={false}
        imgSrc="/images/icons/icon-design.svg"
        imgAlt="Design"
      >
        <p class="courses-card__text p-m">Create beautiful, usable interfaces to help shape the future of how the web looks.</p>
        <a href="#" class="courses-card__link">Get Started</a>
      </CoursesCard>
    </div>

    <div class="col-4">
      <CoursesCard 
        title="Photography" 
        main={false}
        imgSrc="/images/icons/icon-photography.svg"
        imgAlt="Photography"
      >
        <p class="courses-card__text p-m">Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos.</p>
        <a href="#" class="courses-card__link">Get Started</a>
      </CoursesCard>
    </div>


    <div class="col-4">
      <CoursesCard 
        title="Crypto" 
        main={false}
        imgSrc="/images/icons/icon-crypto.svg"
        imgAlt="Crypto"
      >
        <p class="courses-card__text p-m">All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course.</p>
        <a href="#" class="courses-card__link">Get Started</a>
      </CoursesCard>
    </div>

    <div class="col-4">
      <CoursesCard 
        title="Business" 
        main={false}
        imgSrc="/images/icons/icon-business.svg"
        imgAlt="Business"
      >
        <p class="courses-card__text p-m">A step-by-step playbook to help you start, scale, and sustain your business without outside investment.</p>
        <a href="#" class="courses-card__link">Get Started</a>
      </CoursesCard>
    </div>

  </section>

</Layout>
